*{
    margin:0px;
}

@import url(//db.onlinewebfonts.com/c/2fa1e529d54d0588f7d0e7b496a3ad62?family=Arista+Pro+Alternate);
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

@font-face {font-family: "Arista Pro Alternate"; src: url("//db.onlinewebfonts.com/t/2fa1e529d54d0588f7d0e7b496a3ad62.eot"); src: url("//db.onlinewebfonts.com/t/2fa1e529d54d0588f7d0e7b496a3ad62.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2fa1e529d54d0588f7d0e7b496a3ad62.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2fa1e529d54d0588f7d0e7b496a3ad62.woff") format("woff"), url("//db.onlinewebfonts.com/t/2fa1e529d54d0588f7d0e7b496a3ad62.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2fa1e529d54d0588f7d0e7b496a3ad62.svg#Arista Pro Alternate") format("svg"); }

.main{
    width:100%;
    height: 100%;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width:95%;
    margin-top: 23px;
    margin-bottom: 23px;
    height: 90%;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: row;
    /* background-color: aqua; */
}

.nav_img:hover{
    border-left: 5px solid white;
}

@media only screen and (max-width : 1024px){

    .container{
        width:95%;
        margin-top: 23px;
        margin-bottom: 23px;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        /* background-color: aqua; */
    }
    
    .navbar{
        width: 7%;
        background-color: #6f6af8;
        color:white;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: 0px 5px 20px 3px rgba(150, 150, 250, 0.2);
    }
    
    .navbar_logo{
        font-family: "Arista Pro Alternate","sans-serif";
        font-weight: bold;
        font-size: 15px;
        margin-top: 30px;
    }
    
    .navbar_items{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 45px;
        margin-bottom: 90px;
    }
    
    .nav_img{
        width: 18px;
        filter: brightness(0) invert(1);
        margin-top:15px;
        margin-bottom: 15px;
        cursor: pointer;
        margin-left:0px;
        margin-right: 0px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .nav_setting{
        margin-bottom: 50px;
    }

    .triple_dot{
        position: absolute;
        height: 30px;
        width: 30px;
        top:105px;
        left:230px;
        transform: rotate(90deg);
    }
}




/* //////////////////////THEME */

@media only screen and (max-width : 1024px){

    .container{
        width:95%;
        margin-top: 23px;
        margin-bottom: 23px;
        height: 90%;
        display: flex;
        /* justify-content: center;
        align-items: center; */
        flex-direction: row;
        /* background-color: aqua; */
    }



    .theme{
        margin-left:25px;
        margin-top:10px;
    }
    
    .theme_gm{
        /* font-family: 'Poppins', sans-serif; */
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        letter-spacing: 0.1px;
        font-weight: 700;
        color: #120e44;
    }
    
    .stats{
        display: flex;
        justify-content: space-between;
        margin-top:20px;
    }
    
    .stats_1{
        width: 153px;
        /* background-color: aqua; */
        margin-right: 10px;
        height: 140px;
        border-radius: 20px;
        background-color: white;
        box-shadow: 0px 5px 20px 3px rgba(150, 150, 250, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .second_section{
        display: flex;
        flex-direction: row;
    }

    .side_graph{
        margin-top:10px;
        width : 210px;
    }

    .side_graph_div{
        font-family: 'Raleway', sans-serif;
        background-color: white;
        height: 100px;
        margin-top: 20px;
        box-shadow: 0px 5px 20px 3px rgba(150, 150, 250, 0.2);
        border-radius: 20px;
    }

    .side_graph_div_p{
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        padding-top: 13px;
        margin-left: 35px;
    }

    .side_graph_div_ins{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 6px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .graph{
        background-color: white;
        margin-top:30px;
        height: 220px;
        width: 410px;
        margin-left:22px;
        border-radius: 20px;
        box-shadow: 0px 5px 20px 3px rgba(150, 150, 250, 0.2);
    }

    .emails{
        margin-top: 30px;
        width: 643px;
        height: 163px;
        border-radius: 20px;
        background-color: white;
        /* box-shadow: 0px 5px 10px 1px rgba(111,106,248,0.2); */
    }

    /* ///////////////////////////////Sidebar */

    .sideBar{
        width: 210px;
        margin-left: 16px;
        background-color: #f2f2fd;
        border-radius: 20px;

    }

    .side_up{
        margin:10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .side_img{
        width:16px;
        margin: 7px;
    }

    .side_drop{
        position: absolute;
        top:38px;
        left:950px;
        width:8px;
    }

    .to_do{
        margin-top:180px;
        margin-left:15px;
    }

    .to_do_h1{
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        color: #1a1743;
    }

    .board_meetings{
        margin:15px;
        background-color: white;
        width:163px;
        border-radius: 20px;
        padding-left: 15px;
        padding-top: 10px;
        padding-top: 10px;
        padding-bottom: 15px;
        margin-top: 140px;
    }

    .board_meetings_heading{
        font-size: 13px;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
    }

    .board_meetings_time{
        margin-top: 5px;
        font-size: 12px;
        font-family: 'Raleway', sans-serif;
        color:#d5d3df;
    }

    .board_meetings_para{
        margin-top: 7px;
        font-size: 9px;
        font-family: 'Raleway', sans-serif;
        color:#d5d3df;
    }

    /* /////////////Grid Adjustments */

    .stats_1_ins{
        font-family: 'Raleway', sans-serif;
        height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: -5px;
    }

    .grid_img{
        width: 30px;
    }

    .grid_text{
        color : #151145;
        font-weight: 700;
        font-size: 23px;
    }

    .grid_label{
        width: 110px;
        font-weight: 550;
        font-size: 15px;
        color:gray;
    }

    .mail{
        font-family: 'Raleway', sans-serif;
        color: grey;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .emails_head{
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        margin-left:20px;
    }

    .mail_pic{
        width:35px;
        color: #120e44;
        font-weight: 700;
    }

    /* ////////////////Todo */

    .inside_to_do{
        margin-top: 15px;
        display: flex;
        flex-direction: row;
    }

    .task_img_div{
        width: 40px;
        height: 40px;
        border-radius: 15px;
        background-color: #e3e5f5;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .task_img{
        width: 20px;
    }

    .task_material{
        margin-left: 10px;
    }

    .task_head{
        margin-top: 4px;
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        font-weight: 700;
        color: #393659;
    }

    .task_time{
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        color: grey;
        margin-top: 5px;
    }

    .revenue{
        margin-top: 20px;
        margin-left: 15px;
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
    }

    .revenue_date{
        margin-top: 23px;
        margin-right: 15px;
        font-size: 15px;
        font-weight: 500;
        font-family: 'Raleway', sans-serif;
    }

    .graph{
        display: flex;
        justify-content: space-between;
    }

    .arrow_nav{
        width: 20px;
        position: absolute;
        top:90px;
        left:82px;
    }

    .show{
        width: 190px;
        position: absolute;
        top:140px;
        left:230px;
        background-color: white;
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: 0px 5px 20px 3px rgba(150, 150, 250, 0.2);

    }

    .show_1{
        font-family: 'Raleway', sans-serif;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px;
        font-weight: 700;
        font-size: 12px;
        margin-bottom: 0px;
    }

    .show_img{
        width: 22px;
    }

    .show_para{
        margin-left: 15px;
    }
}
    
@media only screen and (min-device-width : 1080px) and ( max-device-width : 1920px){

    .container{
        width:70%;
        margin-top: 23px;
        margin-bottom: 23px;
        height: 90%;
        display: flex;
        /* justify-content: center;
        align-items: center; */
        flex-direction: row;
        /* background-color: aqua; */
    }

    .navbar{
        width: 7%;
        background-color: #6f6af8;
        color:white;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: 0px 5px 20px 3px rgba(150, 150, 250, 0.2);
    }
    
    .navbar_logo{
        font-family: "Arista Pro Alternate","sans-serif";
        font-weight: bold;
        font-size: 20px;
        margin-top: 30px;
    }
    
    .navbar_items{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 45px;
        margin-bottom: 95px;
    }
    
    .nav_img{
        width: 22px;
        filter: brightness(0) invert(1);
        margin-top:15px;
        margin-bottom: 15px;
        cursor: pointer;
        margin-left:0px;
        margin-right: 0px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .nav_setting{
        margin-bottom: 50px;
    }

    .triple_dot{
        position: absolute;
        height: 30px;
        width: 30px;
        top:110px;
        left:450px;
        transform: rotate(90deg);
    }


    .theme{
        margin-left:25px;
        margin-top:15px;
    }
    
    .theme_gm{
        /* font-family: 'Poppins', sans-serif; */
        font-family: 'Raleway', sans-serif;
        font-size: 30px;
        letter-spacing: 0.1px;
        font-weight: 700;
        color: #120e44;
    }
    
    .stats{
        display: flex;
        justify-content: space-between;
        margin-top:20px;
    }
    
    .stats_1{
        width: 170px;
        /* background-color: aqua; */
        margin-right: 10px;
        height: 140px;
        border-radius: 20px;
        background-color: white;
        box-shadow: 0px 5px 20px 3px rgba(150, 150, 250, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .second_section{
        display: flex;
        flex-direction: row;
    }

    .side_graph{
        margin-top:10px;
        width : 225px;
    }

    .side_graph_div{
        font-family: 'Raleway', sans-serif;
        background-color: white;
        height: 100px;
        margin-top: 20px;
        box-shadow: 0px 5px 20px 3px rgba(150, 150, 250, 0.2);
        border-radius: 20px;
    }

    .side_graph_div_p{
        font-size: 18px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        padding-top: 13px;
        margin-left: 35px;
    }

    .side_graph_div_ins{
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 6px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .graph{
        background-color: white;
        margin-top:30px;
        height: 220px;
        width: 465px;
        margin-left:22px;
        border-radius: 20px;
        box-shadow: 0px 5px 20px 3px rgba(150, 150, 250, 0.2);
    }

    .emails{
        margin-top: 30px;
        width: 715px;
        height: 163px;
        border-radius: 20px;
        background-color: white;
        /* box-shadow: 0px 5px 10px 1px rgba(111,106,248,0.2); */
    }

    /* ///////////////////////////////Sidebar */

    .sideBar{
        width: 220px;
        margin-left: 16px;
        margin-top: 5px;
        background-color: #f2f2fd;
        border-radius: 20px;
    }

    .side_up{
        margin:15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .side_img{
        width:18px;
        margin: 7px;
    }

    .side_drop{
        position: absolute;
        top:47px;
        left:1240px;
        width:8px;
    }

    .to_do{
        margin-top:180px;
        margin-left:15px;
    }

    .to_do_h1{
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        color: #1a1743;
    }

    .board_meetings{
        margin:15px;
        background-color: white;
        width:173px;
        border-radius: 20px;
        padding-left: 12px;
        padding-top: 10px;
        padding-top: 10px;
        padding-bottom: 15px;
        margin-top: 160px;
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .board_meetings_heading{
        font-size: 15px;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
    }

    .board_meetings_time{
        margin-top: 5px;
        font-size: 12px;
        font-family: 'Raleway', sans-serif;
        color:#d5d3df;
    }

    .board_meetings_para{
        margin-top: 7px;
        font-size: 11px;
        font-family: 'Raleway', sans-serif;
        color:#d5d3df;
        width: 170px;
    }

    /* /////////////Grid Adjustments */

    .stats_1_ins{
        font-family: 'Raleway', sans-serif;
        height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: -5px;
    }

    .grid_img{
        width: 30px;
    }

    .grid_text{
        color : #151145;
        font-weight: 700;
        font-size: 23px;
    }

    .grid_label{
        width: 110px;
        font-weight: 550;
        font-size: 15px;
        color:gray;
    }

    .mail{
        font-family: 'Raleway', sans-serif;
        color: grey;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .emails_head{
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        margin-left:20px;
    }

    .mail_pic{
        width:35px;
        color: #120e44;
        font-weight: 700;
    }

    /* ////////////////Todo */

    .inside_to_do{
        margin-top: 15px;
        display: flex;
        flex-direction: row;
    }

    .task_img_div{
        width: 40px;
        height: 40px;
        border-radius: 15px;
        background-color: #e3e5f5;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .task_img{
        width: 20px;
    }

    .task_material{
        margin-left: 10px;
    }

    .task_head{
        margin-top: 4px;
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        font-weight: 700;
        color: #393659;
    }

    .task_time{
        font-family: 'Raleway', sans-serif;
        font-size: 10px;
        color: grey;
        margin-top: 5px;
    }

    .revenue{
        margin-top: 20px;
        margin-left: 15px;
        font-size: 20px;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
    }

    .revenue_date{
        margin-top: 23px;
        margin-right: 15px;
        font-size: 15px;
        font-weight: 500;
        font-family: 'Raleway', sans-serif;
    }

    .graph{
        display: flex;
        justify-content: space-between;
    }

    .arrow_nav{
        width: 20px;
        position: absolute;
        top:100px;
        left:292px;
    }

    .show{
        width: 190px;
        position: absolute;
        top:150px;
        left:450px;
        background-color: white;
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: 0px 5px 20px 3px rgba(150, 150, 250, 0.2);

    }

    .show_1{
        font-family: 'Raleway', sans-serif;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px;
        font-weight: 700;
        font-size: 12px;
        margin-bottom: 0px;
    }

    .show_img{
        width: 22px;
    }

    .show_para{
        margin-left: 15px;
    }
}